* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue LT GEO', sans-serif;
}

.bagdetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: 
  url('./style/Group-5.png'), 
  url('./style/vectorrr1.png'), 
  url('./style/vectorrr.png'), 
  url('./style/Group (4).png');
  background-position: 
    top left, 
    top right,
    right center,
    left bottom;
  background-size: 
    auto, 
    auto, 
    auto; 
  background-repeat: no-repeat; 
  margin-bottom: 56px;
}



.bagdetailpgwrapper {
  max-width: 1224px;
  width: 100%;
}

/* bag details */

.maincontentwrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1224px;
  height: 600px;
  gap: 24px;
  margin-bottom: 86px;
}

.imgarray {
  display: flex;
  flex-direction: column;
  max-width: 184px;
  height: 600px;
  gap: 32px;
  margin-bottom: 53px;
}

.arryitemwrapper {
  width: 160px;
  height: 120px;
  display: flex;
  justify-content: center;
}

.imgarryitem {
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.imgdetailmainwrp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 45px 20px; /* Adjust padding as needed */
  border-radius: 15px;
}

.imgdetailmain {
  width: 600px; /* Fixed width of the container */
  height: 600px; /* Fixed height of the container */
  object-fit: contain; /* Maintain aspect ratio; entire image is visible, scaled down if necessary */

  /* Additional styles to center the image */
  display: block; /* Ensures the image behaves like a block element */
  margin: auto; /* Centers the image horizontally within its container */
  max-width: 100%; /* Ensures the image does not exceed the container's width */
  max-height: 100%; /* Ensures the image does not exceed the container's height */
}

.baginfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 392px;
  gap: 30px;
}

.maintitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 65px;
  max-width: 367px;
  padding: 15px;
}

.maintitleh2 {
  font-size: 27px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: #000000;
}

.maintitleprice {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color: #000000;
}

.mainbaginfo {
  width: 352px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: justify;
  color: #000000;
  padding: 15px;
}

.mainbaginfoh6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  color: #000000;
  padding: 15px;
}

/* similar products */

.secondtitlewrp {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 38px;
}

.secondtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-align: left;
  color: #000000;
}

/* similar products cards */

.flexContainer {
  max-width: 1224px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-bottom: 44px;
}



.collectionscard {
  width: 289px;
  height: 358px;
  border-radius: 10px;
  border: 1px solid #cfffb8;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.spanstyle {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 12px 12px 4px 0px;
}

.pricecollect {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
  text-decoration: underline;
}

.colitemimgwrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 215px;
  overflow: hidden;
}

.collitemimages {
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}

.collcardtexts {
  display: flex;
  flex-direction: column;
  padding: 15px 20px; /* Adjust padding as needed */
  gap: 8px;
  width: 100%;
}

.collcardtitles {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}

.collsizetitles {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #878787;
}

/* button */
.collecsecbtnwrp {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 56px;
  align-items: center;
}

.collecsecbtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; /* Adjust as needed */
}

.collectbtnmore {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
  border: 0px;
  cursor: pointer;
}

.collecbutton {
  width: 11.78px;
  height: 20px;
  border: 0px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .bagdetail {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .bagdetailpgwrapper {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px; /* Adjust padding as needed */
  }
  .flexContainer {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 44px;
  }

  .maincontentwrp {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 86px;
  }
  .imgdetailmainwrp {
    max-width: 100%;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ensure items center on wrap */
    padding: 45px 20px; /* Adjust padding as needed */
  }
  .baginfo {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .mainbaginfo {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .flexContainer {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 44px;
  }
  .collecsecbtnwrp {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
}
