*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }


/* page orient */

.pageorient{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  gap: 14px;
  margin-left: 250px;
  padding: 28px 456px 35px 108px ;
}
.madebyuplink{ 
  font-family: Helvetica Neue LT GEO;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.48px;
  text-align: left;
  color: #00000099;
  text-decoration: none;
}
.madebyuplink:focus{
 color: #000000;
}
/* bagdetail page */
.bagdetail{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 117px;
}
.maincontentwrp{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  gap: 24px;
}
.imgarray{
  display: flex;
  flex-direction: column;
  width: 184px;
  height: auto;
  gap: 32px;
  margin-bottom: 53px;
}
.imgdetailmainwrp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  top: 351px;
  left: 316px;
  gap: 24px;
  background-color: #F0F0F0;
  padding: 10px;
  border-radius: 15px;
}
.imgdetailmain {
  width: fit-content;
  height: fit-content;
  gap: 24px;

}
.baginfo{
  display: flex;
  flex-direction: column;
  width: 392px;
  height: auto;
  gap: 15px;
}
.maintitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 65px;
  width: auto;
  height: auto;
}
.maintitleh2{
  font-family: Helvetica Neue LT GEO;
  font-size: 26px;
  font-weight: 400;
  line-height: 31.38px;
  text-align: left;
  color: #000000;
}
.maintitleprice{
  font-family: Helvetica Neue LT GEO;
  font-size: 30px;
  font-weight: 600;
  line-height: 36.21px;
  text-align: left;
  color: #000000;
}
.mainbaginfo{
  font-family: Helvetica Neue LT GEO;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.73px;
  text-align: left;
  color: #000000;
}
.mainbaginfoh6{
  display: flex;
  flex-direction: column;
  font-family: Helvetica Neue LT GEO;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.73px;
  text-align: left;
  color: #000000;
}

.baginfoh3{
font-family: Helvetica Neue LT GEO;
font-size: 14px;
font-weight: 400;
line-height: 16.9px;
text-align: left;
color: #000000;
}
.collecsecbtn{
  display: flex;
  justify-content: flex-end;
  width: Hug (146px)px;
  height: Hug (24px)px;
  top: 1338px;
  left: 1186px;
  gap: 27px;
  opacity: 0px;
}
.collecbutton{
  background-color: #FFFFFF;
  border: 0px;
}

.collecsecbtnimg{
  background: none;
  cursor: pointer;
  border-radius: 0px;
  width: fit-content;
  height: fit-content;
}
.baginfotitleall{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  gap: 922px;
}
.collectionscard { 
  width: 288px; /* Adjusted width */
  height: 320px;
  padding: 5px 0;
  border-radius: 15px;
  border: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: #F0F0F0; 
  border: 1px solid #051126;
  text-decoration: none;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: auto;
  gap: 20px; 
  top: 779px;
  padding: 16px 108px ;
  }
  .itemimages {
    width: fit-content;
    height: auto;
    cursor: pointer;
    }
    .cardtexts{
      display: flex;
      flex-direction: column;
      padding: 10px 21px ;
      gap: 8px;
      text-align: center;
      margin-top: 10px;
      color: #7dacca;
    
    }
    .cardtitles {
      font-family: Helvetica Neue LT GEO;
      font-size: 14px;
      font-weight: 300;
      line-height: 16.9px;
      text-align: left;
      color: #051126;
      }
      .spanstyle {
        display: flex;
        flex-direction: row;
        gap: 5px;
      }
      .price {
        font-family: Helvetica Neue LT GEO;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        color: #051126;
        font-family: Helvetica Neue LT GEO;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.9px;
        text-align: left;
        }          