*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

.collectionspage{ 
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('C:\Users\Kitoshvili\Desktop\js project\project\my-app\src\style\sec2Vector.png'),
                    url('C:\Users\Kitoshvili\Desktop\js project\project\my-app\src\style\Vector (6).png'),
                    url('C:\Users\Kitoshvili\Desktop\js project\project\my-app\src\style\vectorrr.png'),
                    url('C:\Users\Kitoshvili\Desktop\js project\project\my-app\src\style\Group (2).png');
  background-position:  right top,
                        left center,
                        right center,
                        left bottom;
  background-repeat: no-repeat;
  background-size: auto;
}

/* filter  */
.filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 272px;
  height: auto;
  /* justify-content: center; */
  align-items: center;
}

.allfilterstitle{
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 21.73px;
  text-align: left;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
  }

 /* clear filter */
 
.clearFilter {
  width: 288px;
  height: 42px;
  top: 1175px;
  left: 108px;
  padding: 10px;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #051126;
  opacity: 0px;
  cursor: pointer;
  }

.clearfilterP{
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.73px; 
  color: #051126E5;
  }
  

/* bags sections */
.collectionpgbags{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1224px;
  height: auto;
  gap: 56px;  
}

.flexContainer{
  max-width: 1224px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  
}

.collectionscard{
  width: 289px;
  height: 358px;
  top: 1214px;
  left: 108px;
  border-radius: 10px;
  border: 1px solid #CFFFB8;
  opacity: 0px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-decoration: none;
}

.spanstyle{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  padding: 12px 12px 4px 0px;
}

.pricecollect{
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.62px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
  text-decoration: underline;
}

.colitemimgwrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 215px;
  overflow: hidden;
}

.collitemimages {
  height: 100%;
  cursor: pointer;
  object-fit: cover; 
}

.collcardtexts{
  display: flex;
  flex-direction: column;
  padding: 15px 174px 15px 26px ;
  gap: 8px;
  width: 100%;
}

.collcardtitles{
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.73px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}

.collsizetitles{
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.9px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #878787;
}

.collecsecbtnwrp{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 56px;
  align-items: center;
}

.collecsecbtn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  width: 263px;
  height: 24px;
}

.collectbtnmore{
  font-family: Helvetica Neue LT GEO;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.14px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
  border: 0px;
  cursor: pointer;
}

.collecbutton{
  width: 11.78px;
  height: 20px;
  top: 2px;
  border: 0px;
  cursor: pointer;
}

/* Offers Page */

.customDesignSectionswrapper{
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}

.customDesignSections{
  display: flex;
  flex-direction: column;
  max-width: 1224px;
  max-height: 450px;
  gap: 0px;
  background-image: url('C:\Users\Kitoshvili\Desktop\js project\project\my-app\src\style\s650898027556343822_p11_i8_w948-removebg-preview 1.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
  background-color: #E8EAF2;
  padding-bottom: 45px;
  margin-bottom: 45px;
  border-radius: 20px;
}

.captionDesign{
  max-width: 1224px;
  height: auto;
  display: flex;
  text-decoration: none;
}

.captionDesigntitle{
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 55.52px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000000;
  padding: 32px 418px 53px 419px ;
}

.mbudescribtextwrp{
  max-width: 650px;
  max-height: 176px;
  padding: 0px 0px 15px 55px;
  border-radius: 10px;
}

.mbudescribtext{
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.62px;
  letter-spacing: 0.04em;
  color: #000000;
  /* text-align: left; */
}

@media (max-width: 1100px) {
  .collectionspage{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 250px;

  }
  .flexContainer{
    display: flex;
    flex-wrap: wrap;    
  }
  .collecsecbtnwrp{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .captionDesigntitle{
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 53px;
  }
  .mbudescribtextwrp{
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  

}