.contactspage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('C:\\Users\\Kitoshvili\\Desktop\\js project\\project\\my-app\\src\\style\\sec2Vector.png'),
    url('C:\\Users\\Kitoshvili\\Desktop\\js project\\project\\my-app\\src\\style\\vectorrr.png');
  background-position: right top,
    right bottom;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 83px;
  flex-wrap: wrap;
}

.contactspagewrp {
  max-width: 1224px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px;

}

.contactspicturewrapper {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  border: 1px solid #00000066;
  border-radius: 15px;
}

.contactspicture {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.contactstext {
  width: 100%;
  max-width: 496px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}

.contentwrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.contacttitle,
.phonenmblink {
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.14px;
  color: #000000;
  text-decoration: none;
}

.contacttitle {
  text-align: justify;
}

.contentwrapperabout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.titleabout {
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 25px;
  font-weight: 900;
  line-height: 26.55px;
  text-align: left;
  color: #000000;
}

.aboutustext {
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.73px;
  text-align: justify;
  color: #000000;
}

.aboutustitlemain{
  font-family: 'Helvetica Neue LT GEO'sans-serif;
  font-size: 25px;
  font-weight: 750;
  line-height: 35.55px;
  text-align: left;
  color: #000000;
}

@media (max-width: 1100px) {
  .contactspage {
    display: flex;
    flex-wrap: wrap;
  }

  .contactspagewrp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
  }

  .contactspicturewrapper {
    width: 100%;
    height: auto;
    border: 1px solid #00000066;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  .contactspicture {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .contentwrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .contacttitle {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

  .contentwrapperabout,
  .titleabout,
  .aboutustext {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
}
