*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

  /* header */

  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 32px 108px 32px 108px;
    gap: 29px;
    background-color: #FFFFFF;
    z-index: 2
  }


/* pageslinks */

  .pageslinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: hug(1224px)px;
    height: auto;
    padding: 20px;
    margin: 26px 0;
  }
  .linksstyle {
    height: fixed 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  transition: color 0.3s;  }
  .activeLink:focus {
    border-bottom: 4px solid rgba(0, 0, 0, 1);
    color: #fcca46;
  }
.linkImg{
  width: 136px;
  height: 138px;

}
.linkcard{
  width: 184px;
  height: 220px;
  display: flex;
  flex-direction: column;
  padding: 5px 24px;
  gap: 10px;
  border-radius: 10px;
}
  .link:not(:focus) {
    border-bottom: none;
  }
  .link:hover {
    color: #FE7F2D;
 
}


  .link,
  .linkimg{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: #222200;

  }

  .ChangeLanguage{
    display: flex;
    align-items: center;
    width: 129px;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .ChangeLanguage img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .ChangeLanguage img:last-child {
    margin-right: 0;
  }
  
  .imgarrowdown {
    width: 12px !important;
    height: 7.4px !important;
    cursor: pointer;
  }
  .changelanguagetxt,
  .languageOptions{
  font-family: Helvetica Neue LT GEO;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.48px;
  text-align: left;
  color: #000000;
  }
  .languages {
    /* position: absolute; */
    background-color: white; 
    border-radius: 4px; 
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  

.messagescont {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  z-index: 1000;
  position: fixed;
  bottom: auto;
  top: 644px;
  padding-right: 26px;
  right: 0;
}
.messages {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
@media (max-width: 900px) {
  .messagescont, 
  .messages {
    display: none;
  }
}
/* main page */
  .mainpagediv{
    display: flex;
    flex-direction: column;
    width: Fixed (1,440px)px;
    height: auto;
  }
/* MainPage section  first */
.switchsircles{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 152px;
  margin-bottom: 14px;
  gap: 8px;
  cursor: pointer;
}



.secfirstwrp{
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  align-items: center;
  padding: 108px 35px 0 35px;
  width: 100%;
  height: auto;
  background-image: url('./style/Rectangle 1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sectionfirst {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;

  }
  .firstsecimgmain{
    width: 392px;
    height: 426px;
    left: 940px;
    border-radius: 10px ;
  }


  .firstsecitems{
    display: flex;
    flex-direction: column;
    gap: 34px;
    flex-wrap: wrap;
    
  }

  .seconefirsttitle{
    font-family: Helvetica Neue LT GEO;
    font-size: 54px;
    font-weight: 500;
    line-height: 65.18px;
    text-align: left;
    color: #FFFFFF;
  }
  .seconetwotitle{
    margin-top: 22px;
    font-family: Helvetica Neue LT GEO;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.48px;
    text-align: left;
    color: #FFFFFF;

  }

  /* second section */
  .sectionsecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 46px;
    gap: 46px;
  }
  .secondtitle{
    width: Fixed (1,440px)px;
    height: Fixed (104px)px;
    top: 675px;
    padding: 32px 108px 32px 108px;
    font-family: Helvetica Neue LT GEO;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.9px;
    text-align: left;
  }


  .card{
    border-radius: 20px;
    /* padding: 10px, 21px, 10px, 21px; */
    background: #233D4D;
    height: 640px;
    width: 392px;
    gap: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
  }
  .spanstyle {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .price {
  font-family: Helvetica Neue LT GEO;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #051126;
  }
  
  .sale {
  font-family: Helvetica Neue LT GEO;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.9px;
  text-align: left;
  color: #EB000E;
    
  }

  .cardtexts{
    display: flex;
    flex-direction: column;
    padding: 10px 21px ;
    gap: 8px;
  }

  .cardtitles {
  font-family: Helvetica Neue LT GEO;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.9px;
  text-align: left;
  color: #051126;
  }


  .more{
font-family: Helvetica Neue LT GEO;
font-size: 18px;
font-weight: 500;
line-height: 21.73px;
text-align: center;
display: flex;
align-items: center;
margin: auto;
color: #000000;
padding: 5px;
cursor: pointer;
border: 1px solid #00000033;
border-radius: 50px;
opacity: 80%;
background-color: #FFFFFF;
  }

  /* Footer */
  
  /* footer main style */
  .footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    max-height: fit-content;
    padding: 48px 108px;
    background: #B4D984; 
  }

  /* footer first part style */

  .footerPartOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

.footerone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  opacity: 0px;
}

.footeroneItems{
display: flex;
flex-direction: row;
justify-content: space-between;
/* gap: 6px; */
width: auto;
height: auto;
}
/* footer first part text styling */

.footeroneItemsP{
  font-family: Helvetica Neue LT GEO;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.9px;
  text-align: left;
  color: #000000;
}

.footerlinks,
.footerlinksptwo {
  font-family: Helvetica Neue LT GEO;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.9px;
  gap: 12px;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.footericons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  cursor: pointer;
}
.footeroneimg,
.linkimg,
.collecsecbtnimg{
  width: fit-content;
  height: fit-content;
}

.imgbarcode{
  /* margin: 0 128px ; */
  width: fit-content;
  height: fit-content;
}
/* footer second part styling */

.footertwo{
  display: flex;
  justify-content: center;
  gap: 48px;
}


/* carddetails */
.flexContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center; 
  gap: 20px; 
  top: 779px;
  padding: 16px 108px ;
}
.cardd {
  flex: 0 1 21%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: #F0F0F0;
  width: 288px;
  height: 321px;
  top: 799px;
  left: 108px;
  gap:8px ;
  border-radius: 5px;
}
.itemimages {
  width: fit-content;
  height: auto;
  cursor: pointer;
}
.cardtexts {
  text-align: center;
  margin-top: 10px;
  color: #7dacca;

}
.price{
  font-family: Helvetica Neue LT GEO;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.9px;
  text-align: left;
  
}
.headerFrame {
  width: 100%;
  height: 48px;
  background: #B4D984;
  text-align: center;
  border-bottom: 23px;
}
.logoStyle {
  width: Hug (264px)px;
  height: Fixed (201px)px;
  top: 58px;
  left: 108px;
  gap: 10px;
  opacity: 0px;
  cursor: pointer;
  z-index: 3;
}
.spanimages{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 55px;
  width: auto;
  height: auto;
}
/*searchbar*/
.searchwrp{
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  position: absolute;
  z-index: 2;
}
.searchForm {
  display: flex;
  width: 808px;
  height: hug(70px)px;
  gap: 11px;
  padding: 23px 22px 23px ;
  opacity: 0px;
  border: solid 1px #000000;
  border-radius: 15px;
  cursor: text;
  z-index: 1;
}

.searchInput {
  display: flex;
  width: 100%;
  flex-grow: 1;
  border: none;
  background: transparent; 
  color: black; 
  outline: none;
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.14px;
  
}
.searchIcon {
  width: 20px; 
  height: 20px; 
}
.searchButton {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* new section */
.customDesignSections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 26px 108px;
  gap: 98px;
  width: auto;
  height:  auto;
  background: linear-gradient(88.44deg, #33586F 35.14%, #2E6A8E 49.97%, #5695BC 62.63%, #62A9D5 79.41%);

}

.captionDesign{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 22px;
  width: auto;
}

.captionDesigntitle {
  display: flex;
  flex-wrap: wrap;
left: 90%;
font-family: Helvetica Neue LT GEO;
font-size: 40px;
font-weight: 200;
line-height: 65.18px;
color: white;
}
.subtextDesign {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;  
 color: white;
  padding: 10px;
  border-radius: 8px;  
  margin-top: 10px;  
  line-height: 0; 
}

.customDesignImage {
  display: flex;
  flex-wrap: wrap;
  width: auto; 
  height:  auto; 
  border-radius: 10px;
  }

  @media (max-width: 900px) {
    .customDesignImage,
    .spanimages {
      width: 90%;
    }}

/* modal */
.modalBody {
  width: 700px;
  height: auto;
  background-color: rgba(216, 216, 216, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #a2a7aa0a;
  border-radius: 10px;
  gap: 5px;

}

.modalwrp{
  width: 700px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border:0.5px solid #6b6d6e0a;
  padding: 5px;
  text-decoration: none;
}
.modalImage{
  width: 100px;
  height: auto;
}

.modalText{
  font-family: Helvetica Neue LT GEO;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.31px;
  text-align: left;
  color: #000000;
}

.modalclosebtnwrp{
  display: flex;
  width: 700px;
  height: auto;
  justify-content: flex-end;
}

.modalCloseButton{
  width: 15px;
  height: 15px;
  border: solid 1px #6b6d6e59;
  border-radius: 5px;
  cursor: pointer;
}