*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

/* main page */
.pagewrapper{
  width: 100%;
  height: 100%;
}
  .mainpagediv{
    display: flex;
    flex-direction: column;
    width: Fixed(1440px)px;
    height: auto;
  }
/* MainPage section  first */

.secfirstwrp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: hug(1224px)px;
  height: hug(400px)px;
  top: 499px;
  left: 108px;
  border-radius: 10px ;
  opacity: 0px;  
}

.sectionfirst {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1224px;
  height: auto;
  background-color: #E5FFC499;

  }
  .firstsecimgmain{
    width: 288px;
    height: 271px;  
  }
  .firstsecimgborder{
    width: hug(1,224px)px;
    height: 40px;
  }

  .firstsecitems{
    display: flex;
    flex-direction: column;
    gap: 28px;
    flex-wrap: wrap;
    padding: 65px 0 151px 92px;
  }

  .seconefirsttitle{
    font-family: Helvetica Neue LT GEO;
    font-size: 38px;
    font-weight: 700;
    line-height: 45.87px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
    background: #FFFFFF;
    padding: 10px;  
    width: fit-content;  
  }
  .seconetwotitle{
    width: 674px;
    display: flex;
    flex-wrap: wrap;
    font-family: Helvetica Neue LT GEO;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;   
    color: #000000; 
    padding: 10px;
  }

  /* second section */
  .sectionsecondwrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .sectionsecond {    
    width: 1224px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 46px;
    margin-top: 122px;
    gap: 46px;
  }
  .secondtitle{
    width: hug(1224px)px;
    height: auto;
    display: flex;
    padding: 10px 1165px 10px 10px;
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.45px;
    letter-spacing: 0.1em;
    text-align: left;
    text-decoration: none;
    color: #000000;
  }


  .spanstyle {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 12px;
  }
  .price {
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #051126;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.9px;
  text-align: left;
  }
  
  .sale {
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.9px;
  text-align: left;
  color: #EB000E;
    
  }

  .cardtexts{
    display: flex;
    flex-direction: column;
    padding: 10px 21px ;
    gap: 8px;
    text-align: center;
    margin-top: 10px;
    color: #7dacca;
    width: 100%;
  }

  .cardtitles {
    font-family:  'Helvetica Neue LT GEO', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.8px;
    letter-spacing: 0.01em;
    text-align: left;   
    color: #000000;
 
  }
  .pricetitles {
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48.28px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000000;
  }

  .sizetitles{
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.73px;
  text-align: left;
  color: #555555;
}

  .more{
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.73px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: auto;
  color: #000000;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #00000033;
  border-radius: 50px;
  opacity: 80%;
  background-color: #FFFFFF;
  }
  
.flexContainer {
  width: 1224px;
  height: auto;
  display: flex;
  /* flex-wrap: wrap;  */
  justify-content: center;
  align-items: center; 
  gap: 20px; 
  padding: 16px 108px ;
  margin-bottom: 100px;

}
.cardd {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  width: 288px;
  height: 433px;
  top: 1104px;
  left: 108px;
  gap:8px ;
  justify-content: center;
  border-radius: 15px; 
  opacity: 0px;
  text-decoration: none;
}
.itemimages {
  width: fit-content;
  height: auto;
  cursor: pointer;
}


.spanimages{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 55px;
  width: auto;
  height: auto;
}
.customDesignSectionswrapper{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.customDesignSections {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  /* padding: 26px 108px; */
  /* gap: 98px; */
  width: 1224px;
  height:  464px;
  background-image: url('./style/Rectangle 65.jpg');
  background-size: cover;
}

.captionDesign{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 22px;
  width: hug(1224px)px;
}
.mbuimagesboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  border-radius: 10px;
  gap: 117px;
}
.captionDesigntitle {
  font-family: 'Helvetica Neue LT GEO', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.28px;
  letter-spacing: 0.1em;
  text-align: left; 
  color: #000000;
  background-color: #FFFFFF; 
  padding: 10px;
}
.subtextDesign {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;  
  color: white;
  padding: 10px;
  border-radius: 8px;  
  margin-top: 10px;  
  line-height: 0; 
}

.customDesignImage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  }

  .customDesignImagespan{
    display: flex;
    flex-wrap: wrap;
    width: 288px;
    height: 304px;
    padding: 15px;
  }
  @media (max-width: 900px) {
    .customDesignImage,
    .spanimages {
      width: 90%;
    }}

