*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

/* Main Page */
.pagewrapper{
width: 100%;
height: 100%;
}
.mainpagediv{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: auto;
}

/* First Section */
.firstsecbckg{
  width: 100%;
  min-height: 800px;
  background-image: url('C:\Users\Kitoshvili\Desktop\js project\project\my-app\src\style\1secGroup.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-bottom: 30px;
 }

.secfirstwrp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:auto;
  top: 499px;
  left: 108px;
  border-radius: 10px ;
  opacity: 0px;  
  
}

.sectionfirst {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1224px;
  max-height: 577px;
  border-radius: 20px;
  border: 1px;  
  gap: 32px ;
  }

  .firstsecitems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 54px;
    padding-bottom: 259px;
    padding-top: 51px;
  }

  .titleone{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 39px;
    font-weight: 700;
    line-height: 55.52px;
    letter-spacing: 0.04em;
    text-align: left;
  }

  .titletwo{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 38.97px;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 20px;
  }

  .firstsecimgmain{
    max-width: 397.73px;
    height: 530px;
    border-radius: 10px;
  }

/* Second Section */

  .sectionsecondwrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }

  .secondsecbackgrwrp{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    background-image: url('./style/sec2Vector.png');    background-repeat: no-repeat;
    background-position: right ;
  }
  .secondtitlewrp{
    width: 1224px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .secondtitle{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.97px;
    letter-spacing: 0.08em;
    text-align: left; 

  }

  .sectionsecond{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainpgbags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1224px;
    height: auto;
    gap: 56px;
  }
  .flexContainer{
    max-width: 1224px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  .collectionscard{
    width: 289px;
    height: 358px;
    top: 1214px;
    left: 108px;
    border-radius: 10px;
    border: 1px solid #CFFFB8;
    opacity: 0px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-decoration: none;
  }

  .spanstyle{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    padding: 12px 12px 4px 0px;
  }

  .pricecollect{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.62px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
    text-decoration: underline;
  }

  .colitemimgwrp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 215px;
    overflow: hidden;
  }
  
  .collitemimages {
    height: 100%;
    cursor: pointer;
    object-fit: cover; /* Ensure images cover the entire container while maintaining aspect ratio */
  }

  .collcardtexts{
    display: flex;
    flex-direction: column;
    padding: 15px 174px 15px 26px ;
    gap: 8px;
    width: 100%;
  }
  .collcardtitles{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.73px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
  }
  .collsizetitles{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.9px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #878787;
  }
  .collecsecbtnwrp{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 56px;
  }

  .collecsecbtn{
    display: flex;
    flex-direction: row;
    gap: 35px;
    width: 263px;
    height: 24px;
  }

  .collectbtnmore{
    font-family: Helvetica Neue LT GEO;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #000000;
    border: 0px;
    cursor: pointer;
  }

  .collecbutton{
    width: 11.78px;
    height: 20px;
    top: 2px;
    border: 0px;
    cursor: pointer;
  }

  /* Custom design section */
  .customDesignSectionswrapper{
    width: 100%;
    height: 862px;
    display: flex;
    justify-content: center;
    background-image: url('C:\Users\Kitoshvili\Desktop\js project\project\my-app\src\style\Untitled-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .customDesignSections{
    display: flex;
    flex-direction: column;
    max-width: 1224px;
    max-height: 554px;
    gap: 0px;
    background-image: url('./style/123123.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto;
    background-color: #E8EAF2;
  }

  .captionDesign{
    max-width: 1224px;
    height: auto;
    display: flex;
    text-decoration: none;
  }
  .captionDesigntitle{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 55.52px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #000000;
    padding: 32px 418px 53px 419px ;
  }

  .mbudescribtextwrp{
    max-width: 710px;
    max-height: 176px;
    padding: 53px 0px 300px 35px;
    border-radius: 10px;
  }

  .mbudescribtext{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.62px;
    letter-spacing: 0.04em;
    color: #000000;
    text-align: left;
  }

  /* Sales Bags */
  .salesbagssection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .salescard{
    width: 288px;
    height: 287px;
    top: 2481px;
    left: 108px;
    gap: 0px;
    border-radius: 10px;
    text-decoration: none;
  }

  .salesitemimageswrp{
    width: 288px;
    height: 215px;
    display: flex;
    justify-content: center;    
  }

  .salepercwrp{
    width: 100%;
    height: fit-content;
    display: flex;
    padding-left: 25px;
  }
  .saleperc{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.97px;
    letter-spacing: 0.04em;
    text-align: left;       
    padding: 5px 8px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #E32B39;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-right: 0px;
    position: absolute;
  }

  .salesspanprice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 49px;
    padding-top: 18px;
  }

  .salespricenew{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.8px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #3E1212;
  }
  .salespriceold{
    font-family: 'Helvetica Neue LT GEO', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 33.8px;
    letter-spacing: 0.04em;
    text-align: left;    
    color: #000000;
    text-decoration: line-through;
  }

  @media (max-width: 1100px) {
    .mainpagediv {
      width: 100%;
    }
    
    .sectionfirst {
      margin-top: 275px;
      display: flex;
      flex-wrap: wrap;
      width: auto;
      height: auto;
      margin-bottom: 400px; 
    }
    .firstsecitems{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: auto;
      height: auto;
      padding-bottom: 20px;
    }
    .titleone{
      width: auto;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      text-align: center;
      font-family: 'Helvetica Neue LT GEO', sans-serif;
      font-size: 25px;
      font-weight: 700;
      line-height: 55.52px;
    }
    .titletwo{
      width: 100%;
      height: auto;
      flex-wrap: wrap;
    }

    .firstsecimgmain{
      width: 100%;
      height: auto;
    }


    .secondtitlewrp{
      width: fit-content;
  
    }

    .mainpgbags{
      flex-wrap: wrap;
    }
    .flexContainer{
      display: flex;
      flex-wrap: wrap;    
    }
    .collecsecbtnwrp{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
    }
    .captionDesigntitle{
      padding: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 53px;
    }

    .mbudescribtextwrp{
      padding: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
  }