*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  :root{
  width: 100vw;
  height: 100%;
}

.messagescont {
  display: flex;
  justify-content: flex-end;
  width: fit-content;
  z-index: 1000;
  position: fixed;
  bottom: auto;
  top: 644px;
  padding-right: 26px;
  right: 0;
}
.messages {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
@media (max-width: 900px) {
  .messagescont, 
  .messages {
    display: none;
  }
}
