*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }


/* Header styling */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: Fixed (1,440px)px;
    height: Hug (116px)px;
    padding: 32px 108px 32px 108px;
    gap: 35px;
    background-color: #FFFFFF;
  }

  .linksstyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .link:focus {
    border-bottom: 4px solid rgba(0, 0, 0, 1); 
  }

  .link:not(:focus) {
    border-bottom: none;
  }

  .link,
  .linkimg{
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: #222200;

  }

.ChangeLanguage{
  display: flex;
  align-items: center;
}

.ChangeLanguage img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 8px;
}

.ChangeLanguage img:last-child {
  margin-right: 0;
}
  
/* main page */
  .mainpagediv{
    display: flex;
    flex-direction: column;
    width: Fixed (1,440px)px;
    height: auto;
  }
/* MainPage section  first */
.sectionfirst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 144px 93.66px 62px 146.43px;
  width: 100%;
  height: 496px;
  top: 271px;
  background: url('./style/Rectangle 1.webp') center/cover no-repeat;
  }

  .firstsecbag{
    width: 240px;
    height: 403px;
    top: 0.34px;
    gap: 0px;
    opacity: 0px;
  }

  .firstsecitems{
    display: flex;
    flex-direction: column;
    gap: 34px;
    flex-wrap: wrap;
    
  }

  .seconefirsttitle{
    font-family: Helvetica Neue LT GEO;
    font-size: 54px;
    font-weight: 500;
    line-height: 65.18px;
    text-align: left;
    color: #FFFFFF;
  }
  .seconetwotitle{
    font-family: Helvetica Neue LT GEO;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.48px;
    text-align: left;
    color: #FFFFFF;

  }

  /* second section */
  .secondtitle{
    width: Fixed (1,440px)px;
    height: Fixed (104px)px;
    top: 675px;
    padding: 32px 108px 32px 108px;
    font-family: Helvetica Neue LT GEO;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.9px;
    text-align: left;

    

  }

  .sectwoitems {
    display: flex;
    flex-direction: row;
    width: Fixed (1,440px)px;
    height: Hug (672px)px;
    top: 779px;
    padding: 16px 108px ;
    gap: 24px;
    justify-content: center;
    opacity: 0px;
    background-color: #FFFF87;  
  }

  .card{
    border-radius: 20px;
    /* padding: 10px, 21px, 10px, 21px; */
    background-color: #fff;
    height: 640px;
    width: 392px;
    gap: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
  }
  .cardtext{
    display: flex;
    flex-direction: column;
    padding: 10px 21px ;
    cursor: pointer;

  }
  h3, 
  .itemprice{
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #2B2B2B;
  cursor: pointer;
  }
  h4,
  .itemsize{
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #2B2B2B;
    cursor: pointer;
  }
  .itemimage{
    width: 330px;
    height: 392px;
    justify-content: center;
    cursor: pointer;
  }

  /* Footer */
  
  /* footer main style */
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    max-height: fit-content;
    padding: 48px 108px;
    background: linear-gradient(to bottom, #4E86A9, #1F3543); 
  }

  /* footer first part style */

  .footerPartOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

.footerone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  opacity: 0px;

 

}

.footeroneItems{
display: flex;
flex-direction: row;
gap: 6px;
width: auto;
height: auto;
}
/* footer first part text styling */

.footeroneItemsP{
  font-family: Helvetica Neue LT GEO;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.9px;
  text-align: left;
  color: #FFFFFF;
}

.footerlinks,
.footerlinksptwo {
  font-family: Helvetica Neue LT GEO;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.9px;
  gap: 12px;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.footericons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.footeroneimg,
.linkimg{
  width: fit-content;
  height: fit-content;
}


/* footer second part styling */

.footertwo{
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center; 
  gap: 20px; 
  top: 779px;
  padding: 16px 108px ;
  background-color: #FF87;  


}
.cardd {
  flex: 0 1 21%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 5px;
}
.itemimages {
  width: 80%;
  height: auto;
}
.cardtexts {
  text-align: center;
  margin-top: 10px;

}

